<!DOCTYPE html>
<html>
<head>
    <title>GFM</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body::before {
            background-image: url("/images/pic1.webp");
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/admin">Admin</a></li> 
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1>Create Gladiator</h1>
    <form action="/gladiators/create" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" required>
        <label for="age">Age</label>
        <input type="text" name="age" required>
        <label for="experience">Experience</label>
        <input type="text" name="experience" required>
        <label for="gladiator_type">Gladiator Type</label>
        <input type="text" name="gladiator_type" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <input type="submit" value="Create">
    </form>
    </div>
</body>