<!DOCTYPE html>
<html>
<head>
    <title>GFM</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body::before {
            background-image: url("/images/pic1.webp");
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/admin">Admin</a></li> 
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1>Create Fight</h1>
    <form action="/fights/create" method="post">
        <label for="id_gladiator1">Gladiator 1 ID:</label>
        <input type="text" id="id_gladiator1" name="id_gladiator1" required><br>

        <label for="id_gladiator2">Gladiator 2 ID:</label>
        <input type="text" id="id_gladiator2" name="id_gladiator2" required><br>

        <label for="fight_date">Fight Date:</label>
        <input type="date" id="fight_date" name="fight_date" required><br>

        <label for="arena">Arena:</label>
        <input type="text" id="arena" name="arena" required><br>

        <input type="submit" value="Create Fight">
    </form>
    </div>
</body>