<!DOCTYPE html>
<html>
<head>
    <title>GFM</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Create Gladiator</h1>
    <form action="/gladiators/create" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="age">Age</label>
        <input type="text" name="age">
        <label for="experience">Experience</label>
        <input type="text" name="experience">
        <label for="gladiator_type">Gladiator Type</label>
        <input type="text" name="gladiator_type">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Create">
    </form>
</body>