<!DOCTYPE html>
<html>
<head>
    <title>GFM</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <dib class="back"></dib>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/fights">Fights</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Gladiators Fight Management (GFM)</h1>
        <h2>Here you can find info about Gladiators and scheduled fights!</h2>
    </div>

</body>
</html>
