<!DOCTYPE html>
<html>
<head>
    <title>GFM</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
</head><body>
    <h1>Gladiators Fight Management (GFM)</h1>
    <h2>Here you can find info about Gladiators and scheduled fights!</h2>
    <ul>

        <li><a href="/login">Login To get into FIGHT!!!</a></li>
        <li><a href="/fights">Fights</a></li>
        <li><a href="/admin">Admin Dashboard</a></li>

    </ul>

</body>