<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>Welcome to your profile page!</h1>
    <a href="/">Back</a>
    <h3>This is where you can showcase information about yourself.</h3>
    <p>Name: <%=gladiator.name%></p>
    <p>Age: <%=gladiator.age%></p>
    <p>Experience: <%=gladiator.experience%></p>
    <p>Gladiator Type: <%=gladiator.gladiator_type%></p>
</body>
</html>
