/* Reset some default styles */
body, h1, h2, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    font-size: 18px;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #555;
    text-align: center;
    margin-top: 10px;
}
a:hover {
    color: #fff;
    background: #000;
    padding: 5px;
    border-radius: 5px;
}
container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh; 
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background: url("/images/pic2.webp") no-repeat center center;
    background-size: cover;
    filter: blur(3px);
}

.container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}


body,label {
    cursor: url('/images/sword_1.png'), auto;
}
a, button,input[type="submit"] {
    cursor: url('/images/sword_2.png'), pointer;
}

::selection {
    background-color: darkred;
    color: white; 
}